<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forecasts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:insert="header :: header"></div>

<section class="main-content" style="min-height: 90vh;">
    <div th:insert="search_location :: search"></div>

    <div class="container d-flex justify-content-center">
        <h4 th:text="${name_location}"></h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="forecast" th:each="year : ${forecast.getForecasts()}">
                <div class="year-forecast" th:text="|${year.getNumber()} year|"></div>
                <div class="month-forecast" th:each="month : ${year.getForecasts()}">
                    <div class="day-forecast" th:each="day : ${month.getForecasts()}">
                        <div class="day-date"
                             th:text="${#temporals.format(day.getForecasts().get(0).date, 'dd.MM')}"></div>
                        <div class="d-flex flex-row mb-1 cardblock">
                            <div class="px-1" th:each="hour : ${day.getForecasts()}">

                                <div class="card border border-info rounded-3 border-3 my-1 px-0 lh-1"
                                     style="width: 9rem;"
                                     th:object="${hour}">
                                    <div class="card-body py-0">
                                        <h5 class="card-title" th:text="${#temporals.format(hour.date, 'HH:mm')}"></h5>
                                    </div>
                                    <img src="https://openweathermap.org/img/wn/10d@2x.png" class="card-img-top"
                                         th:attr="src=@{https://openweathermap.org/img/wn/{icon}@2x.png(icon=*{weather.get(0).icon})}">
                                    <div class="card-body py-1">
                                        <h4 class="card-title d-flex justify-content-center"><span
                                                th:text="*{main.temp}">Temp</span>°C
                                        </h4>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"
                                            style="padding-left: 0.2rem; padding-right: 0.2rem;">Давл: <span
                                                th:text="*{main.pressure}">Pressure</span>
                                            гПА
                                        </li>
                                        <li class="list-group-item"
                                            style="padding-left: 0.2rem; padding-right: 0.2rem;">Влажн: <span
                                                th:text="*{main.humidity}">Humidity</span>
                                            %
                                        </li>
                                        <li class="list-group-item"
                                            style="padding-left: 0.2rem; padding-right: 0.2rem;">C/B: <span
                                                th:text="*{wind.speed}">Speed</span> м/с
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:insert="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>