<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="images/cloud.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Weather
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item" th:if="${user == null}">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                    </li>
                    <li class="nav-item" th:if="${user == null}">
                        <a class="nav-link active" aria-current="page" href="/logup">Registration</a>
                    </li>
                    <li class="nav-item" th:if="${user != null}">
                        <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>

            <span class="navbar-text" th:if="${user != null}">
                <img src="images/user.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                <span th:text="${user.getLogin()}"></span>
            </span>

        </div>
    </nav>


    <!--    <div class="container">-->
    <!--        <div class="header-user-name" th:if="${user != null}" th:text="${user.getLogin()}"></div>-->

    <!--        <nav>-->
    <!--            <a href="/login" class="nav__item" th:if="${user == null}">Login</a>-->
    <!--            <a href="/logup" class="nav__item" th:if="${user == null}">Registry</a>-->
    <!--            <a href="/login" class="nav__item" th:if="${user != null}">Logout</a>-->
    <!--        </nav>-->
    <!--    </div>-->
</header>

<main>
    <div class="container">

        <!--        <div class="search">-->
        <!--            <form action='/locations' method='GET'>-->
        <!--                <label for='username'>Поиск локации:</label>-->
        <!--                <input type='text' id='username' name='name'>-->

        <!--                <input type='submit' value='Search'>-->
        <!--            </form>-->
        <!--        </div>-->


        <div class="locations">
            <div class="forecast" th:each="location : ${locations}">

                <div th:object="${location.getCurrentForecastDto()}">

                    <span class="name-location" th:text="*{name}">Location</span>

                    <img class="icon-weather" src="https://openweathermap.org/img/wn/10d@2x.png"
                         th:attr="src=@{https://openweathermap.org/img/wn/{icon}@2x.png(icon=*{weather.get(0).getIcon()})}"/>

                    <div class="weather-parameter"><span th:text="*{weather.get(0).getMain()}">Weather</span></div>
                    <div class="weather-parameter">Темп: <span th:text="*{main.getTemp()}">Temp</span></div>
                    <div class="weather-parameter">Давл: <span th:text="*{main.getPressure()}">Pressure</span></div>
                    <div class="weather-parameter">Влажн: <span th:text="*{main.getHumidity()}">Humidity</span></div>
                    <div class="weather-parameter">C/B: <span th:text="*{wind.getSpeed()}">Humidity</span></div>

                    <div class="button">
                        <form action='/forecast' method='get'>
                            <input type=hidden name='id' th:value="${location.getId()}">
                            <input type='submit' value='5 day'>
                        </form>
                    </div>
                    <div class="button">
                        <form action='/locations/delete' method='post'>
                            <input type=hidden name='id' th:value="${location.getId()}">
                            <input type='submit' value='Delete'>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<footer>

</footer>

</body>

</html>