<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form action="/login">
    <button>Login</button>
</form>
<form action="/logup">
    <button>Logup</button>
</form>
<form action="/logout">
    <button>Logout</button>
</form>

<br>

<p th:text="${user}"></p>

<br>

<form action='/locations' method='POST'>
    <label for='username'>Поиск локации:</label>
    <input type='text' id='username' name='name'>

    <input type='submit' value='Найти'>
</form>

<br>

<div class="forecast" th:each="forecast : ${forecasts}">

    <div><span th:text="${forecast.getName()}">Location</span></div>
    <img src="https://openweathermap.org/img/wn/10d@2x.png"
         th:attr="src=@{https://openweathermap.org/img/wn/{icon}@2x.png(icon=${forecast.getWeather().get(0).getIcon()})}" />

    <div><span th:text="${forecast.getWeather().get(0).getMain()}">Weather</span></div>
    <div>Темп: <span th:text="${forecast.getMain().getTemp()}">Temp</span></div>
    <div>Давл: <span th:text="${forecast.getMain().getPressure()}">Pressure</span></div>
    <div>Влажн: <span th:text="${forecast.getMain().getHumidity()}">Humidity</span></div>
    <div>C/B: <span th:text="${forecast.getWind().getSpeed()}">Humidity</span></div>
    <div>
        <form action='/location/delete' method='post'>
            <input type=hidden name='numberLocationforUser' th:value="${forecast.getId()}">
            <input type='submit' value='Delete'>
        </form>
    </div>
    <br>
</div>

</body>

</html>