<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<form action="/login">
    <button>Login</button>
</form>
<form action="/logup">
    <button>Logup</button>
</form>
<form action="/logout">
    <button>Logout</button>
</form>

<br>

<span th:text="${user.getLogin()}"></span>

<br>

<form action='/locations' method='GET'>
    <label for='username'>Поиск локации:</label>
    <input type='text' id='username' name='name'>

    <input type='submit' value='Найти'>
</form>

<br>

<div class="forecast" th:each="location : ${locations}">

    <div><span th:text="${location.getCurrentForecastDto().getName()}">Location</span></div>
    <img src="https://openweathermap.org/img/wn/10d@2x.png"
         th:attr="src=@{https://openweathermap.org/img/wn/{icon}@2x.png(icon=${location.getCurrentForecastDto().getWeather().get(0).getIcon()})}" />

    <div><span th:text="${location.getCurrentForecastDto().getWeather().get(0).getMain()}">Weather</span></div>
    <div>Темп: <span th:text="${location.getCurrentForecastDto().getMain().getTemp()}">Temp</span></div>
    <div>Давл: <span th:text="${location.getCurrentForecastDto().getMain().getPressure()}">Pressure</span></div>
    <div>Влажн: <span th:text="${location.getCurrentForecastDto().getMain().getHumidity()}">Humidity</span></div>
    <div>C/B: <span th:text="${location.getCurrentForecastDto().getWind().getSpeed()}">Humidity</span></div>
    <div>
        <form action='/forecast' method='get'>
            <input type=hidden name='id' th:value="${location.getId()}">
            <input type='submit' value='Forecast'>
        </form>
    </div>
    <div>
        <form action='/locations/delete' method='post'>
            <input type=hidden name='id' th:value="${location.getId()}">
            <input type='submit' value='Delete'>
        </form>
    </div>
    <br>
</div>

</body>

</html>