<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>
<div class="form_auth_block">
    <div class="form_auth_block_content">

        <p class="form_auth_block_head_text">Регистрация</p>

        <form class="form_auth_style" action="/logup" method="post">

            <label>Введите Ваш имейл</label>
            <input id="emailInput" type="email" th:value="${userName}" name="userName" placeholder="user@gvmail.com" required >

            <br>

            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="password" required >

            <br>

            <label>Повторите Ваш пароль</label>
            <input type="password" name="repeatPassword" placeholder="password" required >

            <br>

            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>

            <br>

            <p th:text="${error}"></p>
        </form>

    </div>
</div>

</body>

<script>
    const input = document.getElementById('emailInput');

    input.addEventListener('input', function() {
        if (this.value === '') {
            this.setAttribute('placeholder', 'user@gmail.com');
        } else {
            this.removeAttribute('placeholder');
        }
    });
</script>
</html>