<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="hbm2ddl.auto">create</property> <!-- create / create-drop / update -->
        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/weather</property>

        <mapping class="com.weather.account.user.User"/>
        <mapping class="com.weather.forecast.location.Location"/>
        <mapping class="com.weather.account.session.Session"/>
    </session-factory>
</hibernate-configuration>